<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
 <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
 <link href="css/style.css" rel="stylesheet">
 <link href=" {{ asset('css/app.css')}} " rel="stylesheet">
 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        {% endblock %}
        <style>
         .alert{

           padding:10px;
           color:white;
           text-align:center;
           border:none;
           border-radius:0;
         }
         .alert-success{
           
         }
         .home{
  background-color:#fff!important;
  color:#111!important;
  box-shadow: 0 15px 50px rgba(0,0,0,0.1);
}
        </style>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            
<script src=" {{ asset('js/bootstrap.bundle.min.js') }} "></script>
<script src="{{ asset('js/popper.min.js ') }}"></script>
<script src=" {{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
  <nav class="navbar home navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MonApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  collapse justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
      {% if app.user %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=" {{path('home')}} ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=" {{path('blog')}}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=" {{path('publication')}}">Publication</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=" {{path('modification')}}">Modification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=" {{path('contact')}}">Contact</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <li class="nav-item">
          <a class="nav-link disabled" href="#">{{app.user.email}}</a>
        </li>
      {% endif %}

      {% if not app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('security_login')}}">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('security_registration')}}">Inscription</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('security_logout')}}">Deconnexion</a>
        </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
  {% for type , messages in app.flashes %}
       {% for message in messages  %}
         <div class="alert alert-{{ type }} " role="alert">
         {{ message }}

         </div>
       {%  endfor %}
  {% endfor %}
        {% block body %}{% endblock %}
    </body>
    <footer class="container text-center mt-4">
         <p class="text-muted">
             <small>
                &copy; {{ 'now' | date('y') }} &middot; by <span style="font-family:bold; color:#fe4066; font-size:20px;">&#9758;</span>Ynod
             </small>
          </p>
    </footer>
</html>
